<!DOCTYPE html>
<html>
<head>
<title>
	Example App
</title>
</head>
<body>
	{{#if showTitle}}
		<h1>This is a title</h1>
	{{/if}}
	<br><br>
	<p>{{process1}}</p>
	<br><br>
	<p>{{process2}}</p>
</body>
</html>